<!DOCTYPE html>
<html lang="hu" ng-app="app">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="ng-file-upload.min.js"></script>
    <script src="main.js"></script>

    <title>Katalóguskészítő - Madal Bal</title>
</head>
<body ng-controller="controller">
<div class="container" ng-show="!requestId">
    <div class="alert alert-danger" role="alert" ng-show="errorMessage ? true : false">
        <button type="button" class="close" aria-label="Close" ng-click="errorMessage=''"><span aria-hidden="true">&times;</span></button>
        {{errorMessage}}
    </div>
    <div class="jumbotron">
        <ng-include src="'headline.html'"></ng-include>
        <p class="lead">Használd ezt az alkalmazást, hogy egyszerűen készíts PDF katalógust!</p>
        <hr>
        <form ng-submit="send()">
            <div class="form-group">
                <label for="catalogueTitle">Katalógus címe</label>
                <input type="text" class="form-control" id="catalogueTitle" ng-model="catalogueTitle"
                       aria-describedby="catalogueTitleHelp" placeholder="Cím">
                <small id="catalogueTitleHelp" class="form-text text-muted">Pl. Kéziszerszám Katalógus</small>
            </div>
            <fieldset class="form-group">
                <legend>Minőség</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" ng-model="draftMode" value="true">
                        Előnézet (képek nélkül, egy PDF dokumentumban)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" ng-model="draftMode" value="false">
                        Nyomdai (minden tartalommal, nagy méret, több PDF dokumentumra tördelve)
                    </label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend>Formátum</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" ng-model="wholeSaleFormat" value="true">
                        Nagyker katalógus (nagyker ár, M1, M2, M3 mennyiségek)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" ng-model="wholeSaleFormat" value="false">
                        Kisker katalógus
                    </label>
                </div>
            </fieldset>
            <div class="form-group">
                <label for="catalogueCsvFile">CSV fájl</label>
                <input type="file" ngf-select ng-model="catalogueCsvFile" id="catalogueCsvFile">
            </div>
            <button type="submit" class="btn btn-primary">Katalógus Készítés</button>
        </form>
    </div>
</div>

<div class="container" ng-show="requestId">
    <div class="jumbotron">
        <ng-include src="'headline.html'"></ng-include>
        <p class="lead">A dokumentum generálása folyamatban...</p>
        <uib-progressbar class="progress active mb-4" value="currentPageNumber" max="totalPageCount" type="success">
            <span style="white-space: nowrap;">{{currentPageNumber}} / {{totalPageCount}} oldal kirajzolva</span>
        </uib-progressbar>
        <div ng-repeat="doc in generatedDocuments">
            <a ng-href="/render/{{doc.relativeUrl}}" target="_blank">Oldalak {{doc.displayName}}</a>
        </div>
    </div>
    <button class="btn btn-outline-danger btn-sm" ng-show="!done" ng-click="cancel()">Leállítás</button>
    <hr>
    <span class="bg-warning text-white" ng-show="warningCount > 0">{{warningCount}} figyelmeztetés</span>
    <span class="bg-danger text-white" ng-show="errorCount > 0">{{errorCount}} hiba</span>
    <div class="my-4">
        <span>Hibák elrejtése:</span>
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="hiddenErrorItems['IMAGE']">
            Képek
        </label>
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="hiddenErrorItems['FORMATTING']">
            Tördelés
        </label>
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="hiddenErrorItems['WARN']">
            Figyelmeztetések
        </label>
    </div>
    <div ng-repeat="errorItem in errorItems" ng-class="errorStyle[errorItem.severity]" ng-hide="hiddenErrorItems[errorItem.category] || hiddenErrorItems[errorItem.severity]">{{errorItem.message}}</div>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>